body {
  background-color: $dark;
  color: #fff;
  font-family: $body-font-stack;
  font-size: 16px;
}

h3 {
  font-family: $body-font-stack;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    font-size: 1.4rem;
    font-weight: 300;
  }

  span {
    font-size: 1.1rem;
    display: block;
    font-weight: 300;
    padding-bottom: 0.3rem;

    @media (min-width: 768px) {
      display: inline;
      font-size: 1.2rem;
    }
  }
}

a {
  border-bottom: 3px solid $tertiary-color;
  background-color: lighten($dark, 10%);
  transition: 100ms border-width ease-in-out;

  &:hover {
    border-width: 5px;
    text-decoration: none;
  }
}
